<launch>
	<!-- Arguments -->
	<arg name="map_file" default="$(find F11Robo)/map/mymap1.yaml"/>
	<arg name="open_rviz" default="true"/>
	<arg name="move_forward_only" default="false"/>

	<!--EKF
	<node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
		<param name="output_frame" value="odom"/>
		<param name="base_footprint_frame" value="base_link"/>
		<param name="freq" value="30.0"/>
		<param name="sensor_timeout" value="1.0"/>
		<param name="odom_used" value="true"/>
		<param name="imu_used" value="true"/>
		<param name="vo_used" value="true"/>
		<param name="debug" value="false"/>
		<param name="self_diagnose" value="false"/>
	</node>-->

	<!--TF-->
	<node pkg="tf" type="static_transform_publisher" name="odom_2_base_link" args="0.05 0 0 3.1416 0 0 base_link laser 100" />

	<!-- Map server -->
	<node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

	<!-- AMCL -->
	<include file="$(find F11Robo)/launch/amcl.launch"/>

	<!-- move_base -->
	<include file="$(find F11Robo)/launch/move_base.launch">
		<arg name="move_forward_only" value="$(arg move_forward_only)"/>
	</include>

	<!-- Robot model -->
	<arg name="model" default="$(find F11Robo)/urdf/F11Robo.urdf" />
	<arg name="gui" default="true" />
	<param name="robot_description" textfile="$(arg model)" />

	<!-- rviz -->
	<group if="$(arg open_rviz)">
		<node pkg="rviz" type="rviz" name="rviz" required="true"
			args="-d $(find F11Robo)/rviz/navigation.rviz"/>
	</group>
</launch>
